<md-card class="donor-application">
  <h2>Donor Application</h2>
  <md-grid-list cols="5" rowHeight="50px">
    <md-grid-tile colspan="2">
      <md-input placeholder="First name"></md-input>
    </md-grid-tile>
    <md-grid-tile colspan="3">
      <md-input placeholder="Last name"></md-input>
    </md-grid-tile>
  </md-grid-list>
  <div>
    <md-input placeholder="Contact Number"></md-input>
  </div>
  <div>
    <md-input placeholder="Email Address"></md-input>
  </div>
  <div>
    <md-select placeholder="Blood Group">
      <md-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">
        {{ bloodType.viewValue }}
      </md-option>
    </md-select>
  </div>
  <div class="action-bar">
    <button md-raised-button>Submit</button>
  </div>
</md-card>
